.general{
    border-radius: 6px;
    height: 25px;
}

.fw{
    width: 100%;       
}

.l{
    width: 75%;    
}

.m{
    width: 50%;  
}

.s{
    width: 30%
}

.primary{
    border: 2px solid #e98ce9;
    background-color: rgb(240, 224, 247);
}

.secondary{    
    border: 2px solid #cb5b2b;
    background-color: rgb(216, 244, 189);
}

.dark{    
    border: 2px solid #000000;
    background-color: #c5c3c3;
}